$WHITE: #FFF;
$LIGHT_GREY: #F8F8F8;
$GREY: #9E9E9E;
$DARK_GREY: #707070;
$DARK: #555;
$GREEN: #4CAF50;
$RED: #F44336;
$SHADOW_COLOR: rgba(0, 0, 0, 0.07);

$DEFAULT_BG: $WHITE;
$PAGE_BG: $LIGHT_GREY;

$DEFAULT_TEXT: $DARK;
$GREEN_TEXT: $GREEN;
$RED_TEXT: $RED;
$WHITE_TEXT: $WHITE;

$BASIC_SHADOW: 0 1px 2px 0 $SHADOW_COLOR;
